#!/bin/bash
sudo yum update -y
sudo yum install -y awslogs

cat > /etc/awslogs/awslogs.conf <<CONFIG
[general]
state_file = /var/lib/awslogs/agent-state

[/var/log/cloud-init.log]
file = /var/log/cloud-init.log
log_group_name = /ec2/user-data-output
log_stream_name = ${instance_name}
datetime_format = %Y-%m-%dT%H:%M:%S
CONFIG

sed -i "s/region = .*/region = ${instance_region}/" /etc/awslogs/awscli.conf

sudo systemctl enable awslogsd
sudo systemctl start awslogsd

ping google.com

THIS_INSTANCE_ID=$(ec2-metadata --instance-id | awk '{print $2}')

aws ec2 terminate-instances --instance-ids $THIS_INSTANCE_ID --region ${instance_region}
