#!/bin/bash
sudo yum update -y
sudo yum install -y awslogs

cat > /etc/awslogs/awslogs.conf <<CONFIG
[general]
state_file = /var/lib/awslogs/agent-state

[/var/log/userdata.log]
file = /var/log/userdata.log
log_group_name = tests-networking
log_stream_name = ${instance_name}
datetime_format = %Y-%m-%d %H:%M:%S
CONFIG

sed -i "s/region = .*/region = ${instance_region}/" /etc/awslogs/awscli.conf

sudo systemctl enable awslogsd
sudo systemctl start awslogsd

exec > >(tee /var/log/userdata.log | logger -t user-data -s 2>/dev/console) 2>&1

ping -c 10 google.com

THIS_INSTANCE_ID=$(ec2-metadata --instance-id | awk '{print $2}')

aws ec2 terminate-instances --instance-ids $THIS_INSTANCE_ID --region ${instance_region}
